body {
  font-family: "Montserrat";
  text-align: center;
}

p {
  color: #8f8f8f;
}

a {
  color: #252525;
}

#title {
  color: #fff;
  background-color: #ff4c68;
  text-align: left;
}

#title .container-fluid {
  padding: 3% 5% 7%;
}

.container-fluid {
  padding: 7% 5%;
}

/* Headings */
.big-heading {
  font-family: "Montserrat";
  font-size: 3.5rem;
  line-height: 1.5;
}

.section-heading {
  font-size: 3rem;
  line-height: 1.5;
}




h1, h2, h3, h4, h5, h6 {
  font-family: "Montserrat";
}

h3 {
  font-size: 1.5rem;
  font-weight: bold;
}

/* Navigation Bar */

.navbar {
  padding:0 0 4.5rem;
}

.navbar-brand {
  font-family: "Ubuntu";
  font-size: 2.5rem;
  font-weight: bold;
}

.nav-item {
  padding: 0 18px;
}

.nav-link {
  font-size: 1.2rem;
  font-family: "Montserrat";
}



/* Download Buttons */

.download-btn {
  margin: 5% 3% 5% 0;
}

/* Title Image */

.title-img {
  transform: rotate(25deg);
  width: 60%;
  position: absolute;
  right: 30%;
}

/* Features */

#features {
  background-color: #fff;
  position: relative;
}

.feature-title {
  font-size: 1.5rem;
}

.feature-box {

}

.icon {
  color: #ef8172;
  margin-bottom: 1rem;
}

.icon:hover {
  color: #ff4c68;
}

/* Testimonial Section */

#testimonials {
  background-color: #ef8172;
  color: #fff;

}

.testimonial-txt {
  font-size: 3rem;
  line-height: 1.5;
}

.testimonial-image {
  width: 10%;
  border-radius: 100%;
  margin: 20px;
}


#press {
  background-color: #ef8172;
  padding-bottom: 5%;

}

.press-logo {
  width: 15%;
  margin: 20px 20px 50px;
}

/* Pricing Section */

#pricing {
  padding: 100px;

}

.price-txt {
  font-size: 3rem;
  line-height: 1.5;
}

.pricing-col {
  padding: 3% 2%;
}

/* CTA Section */

#cta {

  background-color: #ff4c68;
  color: #fff;
}

.cta-heading {
  font-size: 45px;
  font-family: "Montserrat";
}

/* Footer Section */
#footer {
  font-size: 1.35rem;
}

.social-icon {
  margin: 20px 10px;
}

/* Media Queries */

@media (max-width: 1028px) {

  .title-img {
    position: static;
    transform: rotate(0)
  }
}
